@using ffWebAdmin.UI.MVC.Controllers;

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Administrator</title>
    <link href="~/Dollar.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/bundles/_AllStyles")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/MicrosoftAjax")
    @Scripts.Render("~/bundles/CustomScripts")

</head>


<body>

    <header>
        <div class="content-wrapper">

            <div class="float-left">
                <p class="site-title">
                    Fanikiwa - Administrator
                </p>
            </div>


            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
            </div>


            <div id="progress" style="margin: 0px; padding: 0px; position: fixed; right: 0px; top: 0px; width: 100%; height: 100%; background-color: cornflowerblue; z-index: 30001; opacity: .8; filter: alpha(opacity=70);" class="displaynone">

                <p style="position: absolute; top: 30%; left: 35%; color: White;">
                    <img src="@Url.Content("~/Images/ajax-loader.gif")" width="50" height="50">
                </p>

            </div>


            <div id="nav">
                <ul id="menu">

                    <li>

                        <div class="floatleft">
                            @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { enctype = "multipart/form-data", id = "home-form" }))
                            { 
                                <div>
                                    <a id="btnSubmitIndexForm" style="cursor: pointer;">Home</a>
                                </div>    
                            }
                        </div>

                    </li>


                    @if (Request.IsAuthenticated)
                    { 
                        <li id="subMenuTransactions">

                            <div class="floatleft">
                                @using (Html.BeginForm("FanikiwaTransactions", "Transaction", FormMethod.Get, new { enctype = "multipart/form-data", id = "transactions-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllTransactionsForm" style="cursor: pointer;">Transactions</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                        
                        <li id="subMenuFanikiwaAccounts">

                            <div class="floatleft">
                                @using (Html.BeginForm("FanikiwaAccounts", "Transaction", FormMethod.Get, new { enctype = "multipart/form-data", id = "fanikiwa-accounts-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllAccountsForm" style="cursor: pointer;">Accounts</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                         
                        <li id="subMenuTransactionTypes">

                            <div class="floatleft">
                                @using (Html.BeginForm("GetAllTransactionTypes", "TransactionType", FormMethod.Get, new { enctype = "multipart/form-data", id = "transaction-types-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllTransactionTypesForm" style="cursor: pointer;">Transaction Types</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                       
                        <li id="subMenuOffers">

                            <div class="floatleft">
                                @using (Html.BeginForm("Offers", "Offers", FormMethod.Get, new { enctype = "multipart/form-data", id = "all-offers-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllOffersForm" style="cursor: pointer;">Offers</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                         
                        <li id="subMenuAllLoans">


                            <div class="floatleft">
                                @using (Html.BeginForm("ListLoansByAdmin", "Loans", FormMethod.Get, new { enctype = "multipart/form-data", id = "list-all-loans-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitListAllLoansForm" style="cursor: pointer;">Loans</a>
                                    </div>    
                                }
                            </div>

                        </li>
                        
                        <li id="subMenuAllRegisteredMembers">


                            <div class="floatleft">
                                @using (Html.BeginForm("RegisteredMembers", "Members", FormMethod.Get, new { enctype = "multipart/form-data", id = "registered-members-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllRegisteredMembersForm" style="cursor: pointer;">Members</a>
                                    </div>    
                                }
                            </div>

                        </li>
                        
                        <li id="subMenuAllOfferGroups">


                            <div class="floatleft">
                                @using (Html.BeginForm("GetAllOfferGroups", "Offers", FormMethod.Get, new { enctype = "multipart/form-data", id = "offer-groups-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitGetAllOfferGroupsForm" style="cursor: pointer;">Offer Groups</a>
                                    </div>    
                                }
                            </div>

                        </li>
                        
                        <li id="subMenuDeposit">


                            <div class="floatleft">
                                @using (Html.BeginForm("DepositCash", "Deposit", FormMethod.Get, new { enctype = "multipart/form-data", id = "deposit-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitDepositCashForm" style="cursor: pointer;">Deposit</a>
                                    </div>    
                                }
                            </div>

                        </li>
                       
                        <li id="subMenuWithDrawCash">

                            <div class="floatleft">
                                @using (Html.BeginForm("WithDrawCash", "WithDraw", FormMethod.Get, new { enctype = "multipart/form-data", id = "withdraw-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitWithDrawCashForm" style="cursor: pointer;">WithDraw</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                         
                        <li id="subMenuMPESASms">

                            <div class="floatleft">
                                @using (Html.BeginForm("GetAllMessagesFromDB", "Deposit", FormMethod.Get, new { enctype = "multipart/form-data", id = "mpesa-messages-form" }))
                                { 
                                    <div>
                                        <a id="btnSubmitMPESAMMessagesForm" style="cursor: pointer;">Received MPESA Sms</a>
                                    </div>    
                                }
                            </div>

                        </li> 
                           
                    }

                    <li>

                        <div class="floatleft">
                            @using (Html.BeginForm("Help", "Home", FormMethod.Get, new { enctype = "multipart/form-data", id = "help-form" }))
                            { 
                                <div>
                                    <a id="btnSubmitHelpForm" style="cursor: pointer;">Help</a>
                                </div>    
                            }
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            @using (Html.BeginForm("Contact", "Home", FormMethod.Get, new { enctype = "multipart/form-data", id = "contacts-form" }))
                            { 
                                <div>
                                    <a id="btnSubmitContactsForm" style="cursor: pointer;">Contacts</a>
                                </div>    
                            }
                        </div>

                    </li>

                    <li>

                        <div class="floatleft">
                            @using (Html.BeginForm("About", "Home", FormMethod.Get, new { enctype = "multipart/form-data", id = "about-form" }))
                            { 
                                <div>
                                    <a id="btnSubmitAboutForm" style="cursor: pointer;">About</a>
                                </div>    
                            }
                        </div>

                    </li>


                </ul>
            </div>


        </div>


    </header>




    <div id="body">


        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">

            <div id="error-display-div" class="displaynone">
            </div>

            @RenderBody()

        </section>


    </div>




    <footer>

        <hr />

        <div class="content-wrapper">
            <div class="float-left">

                @Html.ActionLink("Home", "Index", "Home")|
                   @Html.ActionLink("About", "About", "Home")|
                   @Html.ActionLink("Contacts", "Contact", "Home")|
                   @Html.ActionLink("Contact Us", "ContactUs", "Contact")|
                   @Html.ActionLink("Help", "Help", "Home")|
                 
                <a href="https://www.facebook.com/SoftwareProvidersLtd" title="Facebook" target="_blank">FaceBook</a>|
                  <a href="http://twitter.com/" title="Twitter" target="_blank">Twitter</a>|
                  <a href="https://plus.google.com/" title="Google+" target="_blank">Google+</a>|
                  <a href="http://www.linkedin.com/" title="LinkedIn" target="_blank">LinkedIn</a>|
                  <a href="#" title="Blog">Blog</a>|
                  <a href="#" title="Discussion board">Discussion board</a> |
                  <a href="#" title="Press">Press</a>|
                  <a href="#" title="Terms">Terms</a>|                    
                  <a href="#" title="Jobs">Jobs</a>|                    
                  <a href="#" title="Privacy policy">Privacy policy</a>|
                  <a href="#" title="Principles">Principles</a>


            </div>
        </div>


        <div class="content-wrapper clearboth">
            <div class="float-left">
                <p style="font-size: 15px">Copyright &copy; @DateTime.Now.Year - Software Providers Limited. All Rights Reserved.</p>
            </div>
        </div>


        <div class="content-wrapper clearboth">
            <div>

                <img src="~/Images/fanikiwa_savings.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

                <img src="~/Images/images.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

                <img src="~/Images/savingsimg.jpg" alt="Fanikiwa - Peer - To - Peer Lending" />

            </div>
        </div>


    </footer>


    @RenderSection("scripts", required: false)


</body>


</html>
