@model IEnumerable<fanikiwaGL.Entities.STO>

@{
    ViewBag.Title = "Loans";
}

<h2 class="page-title">Loans</h2>
 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmountPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalToPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FeesFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextPayDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPayments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STOType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChargeWho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommissionAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrTxnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrTxnType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LimitFlag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoanId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartialPay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfDefaults)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountDefaulted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoOfPaymentsMade)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalToPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FeesFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextPayDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPayments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STOType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChargeWho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommissionAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrTxnType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrTxnType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LimitFlag)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoanId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartialPay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CrAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfDefaults)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountDefaulted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoOfPaymentsMade)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
