@model IEnumerable<fanikiwaGL.Entities.TransactionModel>

@{
    ViewBag.Title = "Transactions";
    int Transactions = Model.Count();
    decimal _debitsTotal = Model.Sum(i => i.Debit);
    decimal _creditsTotal = Model.Sum(i => i.Credit);
    decimal _totalTransactions = _debitsTotal + _creditsTotal;
}

<h2 class="page-title">Total Transactions Value [ @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N0}", _totalTransactions)  ]  </h2>

<h2 class="page-title">Transactions [ @Transactions ] </h2>


<table id="Transactions">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PostDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Narrative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Credit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Debit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
            var dateAsString = item.PostDate;
                    }

                    @Html.TextBoxFor(model => item.PostDate, new { Value = dateAsString.ToString("yyyy-MM-dd"), @readonly = "readonly", @class = "datepicker", type = "date" }) 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Narrative)
                </td>
                <td>
                     @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N2}", item.Credit) 
                </td>
                <td>
                     @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N2}", item.Debit)  
                </td>
                <td>
                    @string.Format(System.Globalization.CultureInfo.InvariantCulture, "{0:N2}", item.Balance)  
                </td>
            </tr>
        }
    </tbody>
</table>






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {

            $("#progress").hide();

            $.ajaxSetup({ cache: false });

            $("#Transactions").dataTable({
                "bJQueryUI": true,
                "bSort": true,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 5,
                "bFilter": true,
                "bInfo": false,
                "bAutoWidth": true,
                "bProcessing": true,
                "bServerSide": true
            });
        });


    </script>
}
